.gitignore
node_modules/
app01/checkpoint/model_best/*
*/__pycache__/*
*/*/__pycache__/*
.idea/
bert-base-chinese/
venv/*
test/*
progress.txt
.htaccess
static/*
9990775155c3518a0d7917f7780b24aa_venv/*
logs/*
requirements0.txt
*.sql
