/* Style the header */

header {
    background-color: #1296db;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 88%;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

header p {
    font-size: 24px;
}


/* Style the feature section */

.feature-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.feature {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #74afee;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 300px;
    transition: box-shadow 0.3s ease-in-out;
}

.feature:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.feature img {
    height: 120px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


/* Style the footer */

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    margin-top: 90px;
}

footer p {
    font-size: 14px;
    margin-bottom: 5px;
}

footer a {
    color: #1296db;
    text-decoration: none;
}