.header1 {
    align-items: center;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.header1 h1 {
    color: #0080FF;
}


/* 设置病历列表的样式 */

.record-list {
    list-style-type: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: auto;
    padding: 0;
    width: 80%;
}


/* 设置每个病历的样式 */

.record-item {
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1)
}


/* 设置病历编号的样式 */

.record-item .record-id {
    font-weight: bold;
}


/* 设置病症描述和结果的样式 */

.record-item .record-description,
.record-item .record-result {
    color: #777;
}


/* 设置超出范围的文本使用省略号进行截断 */

.record-item .record-description,
.record-item .record-result {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}