/* Reset default styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Style the navigation bar */

.dao {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-left: 100px;
}

nav li {
    float: left;
    margin-left: 20px;
}

nav a {
    display: block;
    padding: 20px 30px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

nav a:hover {
    color: #007bff;
}

.login-btn,
.signup-btn {
    display: inline-block;
    margin-left: 16px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #2196f3;
    border-radius: 4px;
    line-height: 40%;
    transition: background-color 0.3s ease;
}

li img {
    margin-top: 10px;
    margin-left: 400px;
}

li p {
    margin-top: 20px;
    margin-left: 0px;
    font-weight: bold;
}