<!DOCTYPE html>
<html lang="ch">
<head>
  <meta charset="UTF-8">
  <title>电子病历信息检索系统</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- CSS Files -->
  {%load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>

<body class="">
  <div class="wrapper ">
<!-- 侧边导航栏开始-->
    <div class="sidebar" data-color="white" data-active-color="danger" >
      <div class="logo" style="background:#bee5eb;">
        <a href="" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src={% static 'img/logo-small.png' %}>
          </div>
        </a>
        <a href="" class="simple-text logo-normal">
          李华
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper" style="background:#bee5eb;" >
        <ul class="nav">
          <li class="active ">
            <a href="{% url 'index' %}">
              <i class="bi bi-house"></i>
              <p>主页</p>
            </a>
          </li>
          <li>
            <a href="{% url 'upload' %}">
              <i class="bi bi-cloud-upload"></i>
              <p>病历上传</p>
            </a>
          </li>
          <li>
            <a href="{% url 'select' %}">
              <i class="bi bi-zoom-out"></i>
              <p>病历检索</p>
            </a>
          </li>
          <li>
            <a href="{% url 'scan' %}">
              <i class="bi bi-journal-medical"></i>
              <p>病历浏览</p>
            </a>
          </li>
          <li>
            <a href="{% url 'extract' %}">
              <i class="bi bi-chat-square-dots"></i>
              <p>病历摘要</p>
            </a>
          </li>
          <li>
            <a href="{% url 'user' %}">
            <i class="bi bi-person"></i>
            <p>用户</p>
          </a>
          </li>
        </ul>
      </div>
    </div>
<!-- 侧边导航栏结束-->

    <div class="main-panel"style="background: white" >
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="border-bottom: solid 1px lightblue">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">基于医疗大数据的电子病历信息检索系统</a>
          </div>
        </div>
      </nav>

      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-1 col-md-6 col-sm-6">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6" style="border-radius: 10px;border-style: solid;border-width: 1px;border-color: #74afee;">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row" style="height: 20px">
                </div>
                <div class="row">
                  <div class="col-2 col-md-2">
                  </div>
                  <div class="col-3 col-md-2">
                    <div class="icon-big text-center icon-warning">
                      <i class="bi bi-cloud-upload" style="font-size: 5rem; color: cornflowerblue;"></i>
                    </div>
                  </div>
                  <div class="col-6 col-md-7">
                    <div class="numbers">
                      <p class="card-category">upload</p>
                      <p class="card-title">病历上传<p>
                    </div>
                  </div>
                  <div class="col-1 col-md-1">
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 col-md-6 col-sm-6">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6" style="border-radius: 10px;border-style: solid;border-width: 1px;border-color: #74afee;" >
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row" style="height: 20px">
                </div>
                <div class="row">
                  <div class="col-2 col-md-2">
                  </div>
                  <div class="col-3 col-md-2">
                    <div class="icon-big text-center icon-warning">
                      <i class="bi bi-zoom-out text-warning" style="font-size: 5rem;"></i>
                    </div>
                  </div>
                  <div class="col-6 col-md-7">
                    <div class="numbers">
                      <p class="card-category">retrival</p>
                      <p class="card-title">病历检索<p>
                    </div>
                  </div>
                  <div class="col-1 col-md-1">
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 80px;">

        </div>
        <div class="row">
          <div class="col-lg-1 col-md-6 col-sm-6">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6" style="border-radius: 10px;border-style: solid;border-width: 1px;border-color: #74afee;">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row" style="height: 20px">
                </div>
                <div class="row">
                  <div class="col-2 col-md-2">
                  </div>
                  <div class="col-3 col-md-2">
                    <div class="icon-big text-center icon-warning">
                      <i class="bi bi-journal-medical " style="font-size: 5rem;color: cornflowerblue;"></i>
                    </div>
                  </div>
                  <div class="col-6 col-md-7">
                    <div class="numbers">
                      <p class="card-category">scan</p>
                      <p class="card-title">病历浏览<p>
                    </div>
                  </div>
                  <div class="col-1 col-md-1">
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 col-md-6 col-sm-6">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6" style="border-radius: 10px;border-style: solid;border-width: 1px;border-color: #74afee;" >
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row" style="height: 20px">
                </div>
                <div class="row">
                  <div class="col-2 col-md-2">
                  </div>
                  <div class="col-3 col-md-2">
                    <div class="icon-big text-center icon-warning">
                      <i class="bi bi-chat-square-dots text-warning" style="font-size: 5rem;"></i>
                    </div>
                  </div>
                  <div class="col-6 col-md-7">
                    <div class="numbers">
                      <p class="card-category">abstract</p>
                      <p class="card-title">病历摘要<p>
                    </div>
                  </div>
                  <div class="col-1 col-md-1">
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">

                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->

</body>

</html>
